*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #D4928C;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px;
    color:white;
}


.logo {
    height: 60px;
}



.nav{
    margin-top:15px;      
    margin-left:40px;     
}

.nav a{
    text-decoration:none;
    padding:0 20px;
    color:white;
    font-weight:bold;
}
.nav a:active{
    text-decoration: underline;
}

.nav a:hover{
    text-decoration:underline;
}

.header-icons{
    display:flex;
    align-items:center;
}

.header-icons a{
    color:white;
    font-size:20px;
    margin-left:20px;
    transition:0.3s;
}

.header-icons a:hover{
    color:#000;
   
}




.slider-section{
    width:auto;
    height:100vh;
    margin-top: 60px; 
       
}

.slider{
    position:relative;
    width:90%;
    height:100%;
    overflow:hidden;
    margin-left: 60px;
}


.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;    
    opacity:0;
    transition:0.6s ease;
}
.slide.active{
    opacity:1;
}


.nav1{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:45px;
    height:45px;
    border-radius:50%;
    border:2px solid #fff;
    background:transparent;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}

.prev{ left:20px; }
.next{ right:20px; }


.project-section{
    padding:50px 60px;
    color: white;
   
}

.project-container{
    display:flex;
    justify-content:space-between;
    gap:80px;
}



.project-info{
    max-width:800px;
}

.project-info h2{
    font-size:36px;
    margin-bottom:25px;
}

.project-info p{
    font-size:16px;
    line-height:1.8;
    margin-bottom:20px;
}

.project-meta{
    min-width:220px;
}

.project-meta h4{
    font-size:18px;
    margin-bottom:6px;
}

.project-meta p{
    margin-bottom:25px;
    opacity:0.9;
}

/* PORTFOLIO NAV BAR */
.portfolio-nav{
    position:relative;
    width:100%;
    height:140px;
    background:#D4928C;
}

/* ARROWS */
.nav-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:60px;
    height:60px;
    border:2px solid #fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:26px;
    text-decoration:none;
}

.nav-btn.left{ left:40px; }
.nav-btn.right{ right:40px; }

/* GRID ICON */
.nav-grid{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 30px;
    height:30px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:4px;
    text-decoration:none;
   
}

.nav-grid span{
    width:100%;
    height:100%;
    background:#fff;
}



.info-box{
    max-width:1200px;
    margin:auto;
    background:#C97F77;
    padding:100px 40px;
    text-align:center;
    margin-top: 100px;
}


.info-img{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 30px;
    color:#fff;
   
}


.info-text{
    color:#fff;
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}


.info-social{
    display:flex;
    justify-content:center;
    gap:25px;
}

.info-social a{
    color:#fff;
    font-size:18px;
    text-decoration:none;
    transition:0.3s;
}

.info-social a:hover{
     color:#000;
}
