*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #D4928C;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px;
    color:white;
}


.logo {
    height: 60px;
}



.nav{
    margin-top:15px;      
    margin-left:40px;     
}

.nav a{
    text-decoration:none;
    padding:0 20px;
    color:white;
    font-weight:bold;
}
.nav a:active{
    text-decoration: underline;
}

.nav a:hover{
    text-decoration:underline;
}

.header-icons{
    display:flex;
    align-items:center;
}

.header-icons a{
    color:white;
    font-size:20px;
    margin-left:20px;
    transition:0.3s;
}

.header-icons a:hover{
    color:#000;
   
}

.gallery-section{
    padding:60px 80px;
}

.gallery-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr); 
    gap:40px;
}


.gallery-item{
    text-align:center;
    color:#fff;
}

.gallery-item img{
    width:100%;
    height:320px;
    object-fit:cover;
}



.gallery-item h3{
    margin-top:15px;
    font-size:22px;
    font-weight:bold;
}

.gallery-item p{
    margin-top:7px;
    font-size:15px;
    
    
    line-height: 27px;
    font-weight: normal;

}
.img-link{
    text-decoration:none;
    display:block;
}

.img-box{
    position:relative;
    overflow:hidden;
}

.img-box img{
    width:100%;
    height:320px;
    object-fit:cover;
    display:block;
    transition:0.4s;
}

.overlay{
    
    position:absolute;
    
    inset: 0;
    background:#C97F77;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    transition:0.4s;
}

.overlay span{
    background:transparent;
    border:1.5px solid #fff;
    color:#fff;
    padding:14px 40px;
    font-size:16px;
}
.overlay span:hover{
    background-color: white;
    color: #C97F77;
}

.img-box:hover .overlay{
    opacity:1;
}

.img-box:hover img{
    transform:scale(1.05);
}


.info-section{
    background:#D4928C;
    padding: 90px 10px;
}

.info-box{
    max-width:1200px;
    margin:auto;
    background:#C97F77;
    padding:100px 40px;
    text-align:center;
}


.info-img{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 30px;
    color:#fff;
   
}


.info-text{
    color:#fff;
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}


.info-social{
    display:flex;
    justify-content:center;
    gap:25px;
}

.info-social a{
    color:#fff;
    font-size:18px;
    text-decoration:none;
    transition:0.3s;
}

.info-social a:hover{
     color:#000;
}




#backToTop{
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:1px solid white;
  background-color:transparent;
 
  
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

#bactToTop:hover{
    background-color: white;
    color: #C97F77;
}

