*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #D4928C;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px;
    color:white;
}


.logo {
    height: 60px;
}



.nav{
    margin-top:15px;      
    margin-left:40px;     
}

.nav a{
    text-decoration:none;
    padding:0 20px;
    color:white;
    font-weight:bold;
}
.nav a:active{
    text-decoration: underline;
}

.nav a:hover{
    text-decoration:underline;
}

.header-icons{
    display:flex;
    align-items:center;
}

.header-icons a{
    color:white;
    font-size:20px;
    margin-left:20px;
    transition:0.3s;
}

.header-icons a:hover{
    color:#000;
   
}


.contact-section{
    background:#D4928C;
    padding:80px;
}

.contact-container{
    display:flex;
    gap:80px;
    align-items:flex-start;
}

.contact-map img{
    width:500px;
    height:500px;
    object-fit:cover;
}


.contact-form{
    color:#fff;
    width:100%;
    max-width:520px;
}

.contact-form h1{
    font-size:56px;
    margin-bottom:40px;
    font-weight:600;
}


.contact-form input,
.contact-form textarea{
    width:100%;
    background:transparent;
    border:none;
    border-bottom:1px solid rgba(255,255,255,0.6);
    padding:10px 0;
    margin-bottom:30px;
    color:#ffffff;
    font-size:16px;
    outline:none;
}

.contact-form textarea{
    resize:none;
    height:120px;
}


.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color:rgba(255,255,255,0.8);
}


.contact-form button{
    margin-top:20px;
    padding:14px 40px;
    background:transparent;
    border:1px solid #ffffff;
    color:#ffffff;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background:#ffffff;
    color:#D4928C;
}

#formMessage{
    margin-top: 20px;
    padding: 15px;
    font-weight: bold;
    display: none;
    border-radius: 4px;
}

.success{
    background-color: #2ecc71;
    color: white;
}

.error{
    background-color: #e74c3c;
    color: white;
}




.info-section{
    background:#D4928C;
    padding: 90px 10px;
}

.info-box{
    max-width:1200px;
    margin:auto;
    background:#C97F77;
    padding:100px 40px;
    text-align:center;
}


.info-img{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 30px;
    color:#fff;
   
}


.info-text{
    color:#fff;
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}


.info-social{
    display:flex;
    justify-content:center;
    gap:25px;
}

.info-social a{
    color:#fff;
    font-size:18px;
    text-decoration:none;
    transition:0.3s;
}

.info-social a:hover{
     color:#000;
}





